APP_ENV=dev
APP_DEBUG=1
APP_SECRET=ThisTokenIsNotSoSecretChangeIt
APP_HOST=nginx
GOOGLE_API_KEY=
S3_ENDPOINT=http://minio:9000
S3_REGION=uk-ua
S3_BUCKET=images
S3_CREDENTIALS_KEY=minio
S3_CREDENTIALS_SECRET=astrada
ASTRADA_MATOMO_HOSTNAME=
ASTRADA_MATOMO_SITE_ID=
MATOMO_CHECKOUT_COMPLETED_GOAL_ID=
ASTRADA_COUNTLY_SCRIPT=
ASTRADA_COUNTLY_HOSTNAME=
ASTRADA_COUNTLY_APP_KEY=
ASTRADA_DB_HOST=postgres
ASTRADA_DB_PORT=5432
ASTRADA_DB_NAME=astrada
ASTRADA_DB_USER=main
ASTRADA_DB_PASSWORD=secret
ASTRADA_REDIS_DSN=redis://redis:6379
ASTRADA_OAUTH_FACEBOOK_CLIENT_ID=YourFacebookClientId
ASTRADA_OAUTH_FACEBOOK_CLIENT_SECRET=YourFacebookClientSecret
ASTRADA_POSTGRES_SSLMODE=disable
ASTRADA_PRIVATE_KEY_PASSPHRASE=coursiers
ASTRADA_APP_NAME=default
ASTRADA_DISPATCH_PORT=8000
ASTRADA_TRACKING_PORT=8001
ASTRADA_OAUTH_ENCRYPTION_KEY=wHQXc2IU0mRQpU/pSqpk9dI4+BN00nvJy9vbCCjju0o=
ASTRADA_BROWSERLESS_HOST=http://browserless:3000
ASTRADA_MJML_HOST=http://mjml
ASTRADA_COUNTRY=ua
ASTRADA_LOCALE=uk
ASTRADA_REGION=ua
ASTRADA_TAX_INCL=1
ASTRADA_MAIL_URL=smtp://smtp:25
ASTRADA_MAIL_TRANSPORT=smtp
ASTRADA_MAIL_SENDER_ADDRESS=hello@astrada.dev
ASTRADA_MAIL_SENDER_NAME=AquaStrada
ASTRADA_TILE38_DSN=redis://tile38:9851
LOOPEAT_ENABLED=0
LOOPEAT_BASE_URL=
LOOPEAT_CLIENT_ID=
LOOPEAT_CLIENT_SECRET=
LOOPEAT_PARTNER_ID=
LOOPEAT_PARTNER_SECRET=
LOOPEAT_OAUTH_FLOW=redirect
FIREBASE_CREDENTIALS=
ASTRADA_JWT_TTL=3600
ASTRADA_OSRM_HOST=osrm:5000
ASTRADA_DEMO=0
ASTRADA_SENTRY_DSN=https://<public>@sentry.io/********
APNS_CERTIFICATE_FILE=/dev/null
APNS_CERTIFICATE_PASS_PHRASE=
APNS_PRIVATE_KEY_FILE=/dev/null
APNS_KEY_ID=
APNS_TEAM_ID=
APNS_APP_BUNDLE_ID=
ASTRADA_FOODTECH_ENABLED=1
ASTRADA_LEGACY_TAXES=1
ASTRADA_B2B_ENABLED=0
ASTRADA_OAUTH2_PROXY_ENABLED=0
ASTRADA_OAUTH2_PROXY_URI=
ASTRADA_OAUTH2_PROXY_JWT_KEY=ThisKeyIsNotSoSecretChangeIt
ALGOLIA_PLACES_APP_ID=YourAlgoliaPlacesAppId
ALGOLIA_PLACES_API_KEY=YourAlgoliaPlacesApiKey
LOCATIONIQ_ACCESS_TOKEN=YourLocationIQAccessToken
ASTRADA_AUTOCOMPLETE_ADAPTER=google
GEOCODE_EARTH_API_KEY=YourGeocodeEarthApiKey
OPENCAGE_API_KEY=YouOpenCageApiKey
YANDEX_API_KEY=YourYandexApiKey
SONIC_SECRET_PASSWORD=SecretPassword
SONIC_HOST=sonic
SONIC_PORT=1491
ALGOLIA_PLACES_ADDRESS_TEMPLATE=city
VROOM_HOST=vroom:3000
CDN_S3_ENDPOINT=http://minio:9000
CDN_S3_REGION=uk-ua
CDN_S3_BUCKET=images
CDN_S3_CREDENTIALS_KEY=minio
CDN_S3_CREDENTIALS_SECRET=astrada
CDN_ROOT_URL=http://localhost:9000/images
CDN_CACHE_PREFIX=media/cache
CENTRIFUGO_TOKEN_HMAC_SECRET_KEY=CentrifugoToken
CENTRIFUGO_API_KEY=CentrifugoApiKey
CENTRIFUGO_API_URL=http://centrifugo:8000/api
ASTRADA_GEOCODER_AUTOCONF_ENABLED=1
EDENRED_AUTHENTICATION_BASE_URL=https://sso.sbx.edenred.io
EDENRED_AUTHENTICATION_CLIENT_ID=YourEdenredAuthClientId
EDENRED_AUTHENTICATION_CLIENT_SECRET=YourEdenredAuthClientSecret
EDENRED_PAYMENT_BASE_URL=https://directpayment.stg.eu.edenred.io
EDENRED_PAYMENT_CLIENT_ID=YourEdenredPayClientId
EDENRED_PAYMENT_CLIENT_SECRET=YourEdenredPayClientSecret
EDENRED_ENABLED=0
CUBEJS_API_SECRET=YourCubeJsApiSecret
CUBEJS_API_URL=http://localhost:4000/cubejs-api/v1
MESSENGER_TRANSPORT_DSN=redis://redis:6379/astrada:messages/astrada/astrada:consumer?delete_after_ack=1
TYPESENSE_API_KEY=YourTypesenseApiKey

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=1a56d154519d942cfaaf591ed3c08c4d
###< lexik/jwt-authentication-bundle ###

###> symfony/messenger ###
# Choose one of the transports below
# MESSENGER_TRANSPORT_DSN=doctrine://default
# MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
# MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages
###< symfony/messenger ###

###> google/recaptcha ###
# To use Google Recaptcha, you must register a site on Recaptcha's admin panel:
# https://www.google.com/recaptcha/admin
GOOGLE_RECAPTCHA_SITE_KEY=site_key
GOOGLE_RECAPTCHA_SECRET=secret
###< google/recaptcha ###
